 *{
    margin: 50px 0px 10px 0px;
 }
button {
    background-color: rgb(56, 234, 56);
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 122px;
    font-weight: bold;
    display: block;
}
input{
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    border-color: black;
}
h1 {
    font-size: 60px;
}
#ok {
    font-size: 70px;
    color: rgb(44, 33, 253);
}